extends layout

block content
	if error
		h1 Error
	else
		div.progressWrap
			div.progressBar
		div.cycle-slideshow(
		data-cycle-fx='scrollHorz',
		data-cycle-timeout='0', 
		data-cycle-slides='> section',
		data-cycle-prev=".prev",
		data-cycle-next=".next")

			each list in data
				section.middleContent
					h2.mainHeading #{list.title}
					div.quastionWrap
						div.qustWrap
							b Q#{list.question_id} 
							p #{list.description}
					
					div.ansWrap
						ul.clearfix
							each ratting in [1,2,3,4,5]
								li
									input(type="radio", name="#{list.question_id}", id=""+ratting+"", value="Grade "+ratting+"")
					div.commentWrap
						textarea(placeholder="Comments")
						b Help:
						p Help text here 
		div.btnWrap
			div.row
				div.col-md-6
					a.btn.btn-lg.btn-success.btn-primary.prev Prev
					a.btn.btn-lg.btn-success.btn-primary.next Next
				div.col-md-6.text-right
					button.btn.btn-lg.btn-success.btn-primary(type="submit") Save &amp; Exit
					a.btn.btn-lg.btn-success.btn-primary.hide.submit.disabled(href="/") Finish &amp; Submit
	

