extends layout

block content
	if error
		h1 Error
	else
		div.progressWrap
			div.progressBar
		div.cycle-slideshow(
		data-cycle-fx='scrollHorz',
		data-cycle-timeout='0', 
		data-cycle-slides='> section',
		data-cycle-prev=".prev",
		data-cycle-next=".next")

			each list in data
				section.middleContent
					h2.mainHeading #{list.title}
					div.quastionWrap
						div.qustWrap
							b Q#{list.id} 
							p #{list.description}
					
					div.ansWrap
						ul
							li
								input(type="radio", name="ans")
							li
								input(type="radio", name="ans")
							li
								input(type="radio", name="ans")
							li
								input(type="radio", name="ans")
							li
								input(type="radio", name="ans")
		div.btnWrap
			div.row
				div.col-md-6
					a.btn.btn-lg.btn-success.btn-primary.prev prev
					a.btn.btn-lg.btn-success.btn-primary.next next
				div.col-md-6.text-right
					button.btn.btn-lg.btn-success.btn-primary(type="submit") Save & Exit
	

